# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
build/plugins
*.local

# Plugins
.youtube-cookie

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
omp-session-2026-07-11T16-17-04-116Z_019f51f7-d474-7000-be37-f83f719a580b.html
opencode.json

prompt.txt
docs/learning/domains.md
